@import "styles/main.module.scss";
.menu {
  cursor: pointer;
  @include menu;
  button {
    @include background_button;
  }
  &_toggle {
    position: relative;
    display: block;
    z-index: 3;
    .menu_items {
      position: absolute;
      background-color: $color-white;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      margin-top: 0.8rem;
      width: 100%;
      min-width: fit-content;
    }
  }
}
