@import "styles/main.module.scss";
.menu {
  cursor: pointer;

  .background_button {
    @include background_button;
  }
  &_toggle {
    position: relative;
    display: block;
    z-index: 3;
    .menu_items {
      @include menu;
      position: absolute;
      right: 0;
      margin-top: 0.8rem;
    }
  }
}
