@import "styles/global.module.scss";
.messages {
  width: 40%;
  border: $border;
  border-right: none;
  overflow: auto;
  &_navbar {
    @include center;
    height: 3rem;
    border-bottom: 1px solid $border-color;
    p {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1rem;
      line-height: 2rem;
      width: 60%;
      svg {
        width: 2.5rem;
      }
    }
    svg {
      @include active;
    }
  }
}
