@import "./variables.module.scss";

@mixin active {
  &:active {
    opacity: 0.8;
  }
}
@mixin hover {
  &:hover {
    opacity: 0.8;
  }
}
@mixin input {
  margin: 0;
  padding: 0;
  border: 1px solid $border-color;
  outline: none;
  font-size: 14px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonPrimary {
  background-color: transparent;
  color: $color-secondary;
}
@mixin disabled {
  &:disabled {
    opacity: 0.5;
  }
}
@mixin hover_underline {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
@mixin btn {
  padding: 6px 10px;
  border-radius: $btn-border-radius;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
}
@mixin btn_primary {
  @include btn;
  background-color: $color-secondary;
  color: $color-white;
}
@mixin btn_secondary {
  @include btn;
  background-color: $color-white;
  border: $border;
}
