@import "./variables.module.scss";

@mixin active {
  &:active {
    opacity: 0.8;
  }
}
@mixin hover {
  &:hover {
    opacity: 0.8;
  }
}
@mixin input {
  margin: 0;
  padding: 0;
  border: 1px solid $border-color;
  outline: none;
  font-size: 14px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonPrimary {
  background-color: transparent;
  color: $color-secondary;
}
@mixin disabled {
  &:disabled {
    opacity: 0.5;
  }
}
@mixin hover_underline {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
@mixin btn {
  padding: 6px 10px;
  border-radius: $btn-border-radius;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 600;
  height: max-content;
  position: relative;
}
@mixin btn_primary {
  @include btn;
  background-color: $color-secondary !important;
  color: $color-white !important;
}
@mixin btn_secondary {
  @include btn;
  background-color: $color-white;
  border: $border;
}
@mixin btn_text {
  @include btn;
  color: $color-secondary;
}
@mixin menu {
  box-shadow: $shadow;
  background-color: $color-white;
  border-radius: 0.5rem;
}
@mixin menu_item {
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $dark-white;
  }
  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
@mixin body {
  width: min(100%, $container-width);
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 1.25rem;
}
@mixin form_input {
  @include input;
  padding: 0.2rem 0.625rem;
  font-size: 1rem;
  border-radius: 0.25rem;

  &:focus {
    outline: 1px solid $color-primary;
  }
}
@mixin form_label {
  font-size: 1rem;
  font-weight: 500;
}
@mixin form_description {
  color: $color-gray;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
@mixin background_button {
  cursor: default;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: transparent;
}
