@import "./variables.module.scss";

@mixin active {
  &:active {
    opacity: 0.8;
  }
}
@mixin input {
  margin: 0;
  padding: 0;
  border: 1px solid $border-color;
  outline: none;
  font-size: 14px;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin buttonPrimary {
  background-color: transparent;
  color: $color-secondary;
}
@mixin disabled {
  &:disabled {
    opacity: 0.5;
  }
}
@mixin hover_underline {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
