@import "./variables.module.scss";
@import "./global.module.scss";
svg,
a {
  cursor: pointer;
  display: block;
}
a {
  @include active;
}
input {
  outline: none;
  border: none;
}
:root {
  color: $color-primary;
  font-size: 16px;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  @include active;
  @include disabled;
  background-color: transparent;
}
