$color-primary: #262626;
$color-secondary: #0095f6;
$color-white: #fff;
$dark-white: #fafafa;
$color-gray: #8e8e8e;
$border-color: #dbdbdb;
$color-gradient: linear-gradient(
  to bottom,
  rgba(222, 0, 70, 1),
  rgba(247, 163, 75, 1)
);
$color-danger: red;
$container-width: 935px;
$border: 1px solid $border-color;
$btn-border-radius: 0.25rem;
$shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
