@import "styles/variables.module.scss";
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
  svg {
    width: 0.75rem;
    height: 0.75rem;
  }
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &_body {
    display: flex;
    flex-direction: column;
  }
  &_message {
    span {
      font-weight: 400;
    }
  }
  &_info {
    display: flex;
    align-items: baseline;
    margin-top: 0.2rem;
    small,
    span {
      color: $color-gray;
      margin-right: 1rem;
    }
    span {
      font-weight: 500;
      font-size: 0.75rem;
    }
  }
}
