@import "styles/global.module.scss";
.profile {
  display: flex;
  margin: 4% 0px;
  h4 {
    font-weight: 350;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2rem;
  }
  &_img {
    width: 149px;
    height: 149px;

    img {
      object-fit: cover;
      border-radius: 50%;
      width: 149px;
      height: 149px;
    }
    margin-inline: 7%;
  }
  &_info {
    width: 70%;

    p {
      display: block;
      font-size: 1rem;
      line-height: 1.125rem;
      font-weight: 600;

      span {
        font-weight: 400;
        margin-left: 0.2rem;
      }
    }
  }
  &_account {
    display: flex;
    margin-top: 0.875rem;
    gap: 2rem;
    padding-bottom: 0.5rem;
  }
  &_user {
    display: flex;
    gap: 2.5rem;
    margin: 1.25rem 0px;
    p {
      cursor: pointer;
      @include active;
    }
  }
}
