@import "styles/global.module.scss";
.profile {
  display: flex;
  margin: 4% 0px;
  h4 {
    font-weight: 350;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2rem;
  }
  img {
    width: 8rem !important;
    height: 8rem !important;
    padding: 0;
    margin-inline: 7%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  &_info {
    width: 100%;

    p {
      display: block;
      font-size: 1rem;
      line-height: 1.125rem;
      font-weight: 600;

      span {
        font-weight: 400;
        margin-left: 0.2rem;
      }
    }
  }
  &_account {
    display: flex;
    margin-top: 0.875rem;
    gap: 2rem;
    padding-bottom: 0.5rem;
  }
  &_user {
    display: flex;
    gap: 2.5rem;
    margin: 1.25rem 0px;
    p {
      cursor: pointer;
      @include active;
    }
  }
}
