@import "styles/global.module.scss";
.messagebox {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem 0px;
  img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 0.4rem;
  }
  p {
    border: $border;
    padding: 1rem;
    font-size: 0.875rem;
    border-radius: 1.375rem;
  }
}
