@import "styles/global.module.scss";
.item {
  display: flex;
  @include menu_item;
  align-items: center;
  cursor: pointer;
  img {
    width: 2.5rem;
    border-radius: 50%;
    height: 2.5rem;
    margin-right: 1rem;
  }
  p {
    font-weight: 500;
    margin-bottom: -0.2rem;
  }
  span {
    font-size: 0.875rem;
    color: $color-gray;
  }
  svg {
    margin-left: auto;
  }
}
