@import "styles/global.module.scss";
.post {
  max-width: min(614px, 100%);
  margin-right: 1.75rem;
  margin-bottom: 1.5rem;
  border: $border;
  display: flex;

  flex-direction: column;
  p {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    cursor: pointer;
  }
  small {
    color: $color-gray;
    cursor: pointer;
  }

  &_owner {
    height: 58px;
    padding-inline: 1rem;
    &,
    div {
      display: flex;
      align-items: center;
    }
    justify-content: space-between;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      cursor: pointer;
      margin-right: 14px;
    }
  }
  &_content {
    object-fit: contain;
    width: 100%;
  }
  &_actions {
    display: flex;
    height: 54px;
    align-items: center;
    padding-inline: 1rem;
    svg {
      width: 40px;
      &:last-child {
        justify-self: flex-end;
        margin-left: auto;
      }
    }
  }
  &_info {
    padding-inline: 1rem;
    p {
      span {
        font-weight: 400;
      }
      small {
        margin-left: 5px;
        @include active;
      }
      &:last-child {
        color: $color-gray;
        font-weight: 400;
        line-height: 1.5rem;
      }
    }
    margin-bottom: 1rem;
  }
  &_time {
    letter-spacing: 0.2px;
    font-size: 0.625rem;
    text-transform: uppercase;
  }
  .comment_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0.375rem 1rem;
    border-top: 1px solid $border-color;
    svg,
    input,
    button {
      height: 2.5rem;
    }
    svg {
      width: 2.5rem;
      box-sizing: border-box;
      padding: 0.5rem;
      @include active;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      height: 2.4rem;
    }
    button {
      @include buttonPrimary;
      font-size: 0.875rem;
    }
  }
}
